

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media (min-width:768px){
	.row.row-inline > [class^="col-"]{
		float:none;
		display:inline-block;
		vertical-align:top;
	}
}
















